extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let ballsid = toShow._id
    - let ball_name = toShow.ball_name
    - let ball_shape = toShow.ball_shape
    - let ball_radius = toShow.ball_radius
    - let actionid = "/resource/balls/" + ballsid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='ballsAttr mr-3') Ball ID is:
        div #{ballsid}
      div.row
        div(class='ballsAttr mr-3') Ball Name is:
        div #{ball_name}
      div.row
        div(class='ballsAttr mr-3') Ball Shape is:
        div #{ball_shape}
      div.row
        div(class='ballsAttr mr-3') Ball Radius is:
        div #{ball_radius}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/balls'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/balls'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error)
        });
      }
